*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: none;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

a{
  text-decoration: none;
  color: #fff;
}
li{
  list-style: none;
}

.mainFullArea{
  height: calc(100vh - 97px);
}
.searchInput{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.searcheTextAndIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.searchInput .searcheTextAndIcon h1{
  color: #353535;
  font-weight: 400;
}
.root{
  width: 50%;
  margin-top: 50px;
}
.margin{
  margin-top: 30px !important;
  padding: 30px !important;
  line-height: 0px !important;
  text-transform: capitalize !important;
  width: 50% !important;
  background-color: #386fa4 !important;
}

.itemsContainer{
  width: 60%;
  margin: 20px auto;
}
.itemsInfos{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px 5px;
}
.itemsInfos .itemsDetails{
  font-weight: 200;
}

.itemsInfos .itemsImage{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  border-bottom: 1px solid #5a82a856;
  padding: 20px 10px;
}

.itemsInfos .itemsImage img{
  width: 100%;
  max-width: 100px;
}

.itemsInfos .itemDescription{}

.itemsInfos .itemNcmCode{}